.nav-wrapper {
    height: 100px;
    background-image: linear-gradient(to right, #A770EF, #FDB99B);
}
.post {
    background: #FFFFFF;
    margin: 25;
    margin-left: 35;
    margin-right: 35;
    padding-top: 5;
}
.post h1, h2, p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.post h1 { 
    text-align: center;
    margin-left: 15; 
}
.post h2 { 
    font-size: 2.5rem;
    margin-left: 10; 
    margin-top: 5;
}
.post .article { margin-left: 15; }
.post .tags {
    padding-top: 10;
    padding-bottom: 15;
}
span.badge { float: none; }
span.badge.new { font-size: 130%; }
span.badge.new:after { content: none; }
