<title>ShareSpace</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap-minty.css') }}" />
<style>
body{
  color: #000;
  background-image: url("{{ url_for('static',filename='images/background1.png') }}");
  background-repeat: no-repeat;
  background-size: auto;
}
textarea{
 border-radius: 1em;
 border: 1px solid #000;
 outline: none;
 resize: none;
}
textarea:focus {
    box-shadow: inset 0 0 3px 2px #f90;
}​
</style>
{% block body %}
<div style="text-align: center; margin-top: 70px;">
<h1 style="color: #000;">Edit Article</h1><br>
<form action="/edit" method="POST">
    <textarea name="text" cols="40" rows="15" style="font-size: 250%;">
      {{ basic_text }}
    </textarea><br><br>
    <input type="submit" class="btn btn-info btn-lg" style="font-size: 300%;">
</form>
{% endblock %}
