<link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap-minty.css') }}" />
<style>
body{
  color: #000;
  background-image: url("{{ url_for('static',filename='images/background1.png') }}");
  background-repeat: no-repeat;
  background-size: auto;
}
</style>
{% block body %}
<div style="text-align: center;">
<br><h1>Write Article</h1>
<form action="/write-result" method="POST">
    <textarea name="text" cols="50" rows="5">
      {{ basic_text }}
    </textarea>
    <input type="submit">
</form>
{% endblock %}
