{% extends 'base.html' %}

{% block page_content %}
<h1>Upload new File</h1>
    <form action="" method="POST" enctype=multipart/form-data>
    <div class="file-field input-field">
        <div class="btn">
            <span>파일 선택</span>
            <input type="file" name="file">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
        <button class="submit-btn btn waves-effect waves-light" type="submit" name="action">업로드</button>
    </div>
</form>
{% endblock %}
