<title>ShareSpace</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap-minty.css') }}" />
<style>
body{
  color: #000;
  background-image: url("{{ url_for('static',filename='images/background1.png') }}");
  background-repeat: no-repeat;
  background-size: auto;
}
</style>
{% block body %}
<div style="text-align: center; position: absolute; top: 100px; left: 5%;">
    <br><h1 style="color: #000;">Upload new File</h1><br>
    <form method=post enctype=multipart/form-data frameborder="0">
        <p><input type=file class="btn btn-outline-primary" name="file" style="font-size: 200%;">
        <input type=submit value=Upload class="btn btn-warning" style="font-size: 200%;">
    </form>
</div>
{% endblock %}
