<title>ShareSpace</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap-minty.css') }}" />
<style>
body{
  color: #000;
  background-image: url("{{ url_for('static',filename='images/background1.png') }}");
  background-repeat: no-repeat;
  background-size: auto;
}
</style>
{% block body %}
<div class="jumbotron">
  <h3 class="display-3">Tags</h3>
  <h4>
    <span class="badge badge-danger">
    <b>Error</b> : Check filename
    </span>
  </h4>
  <h5><a href="/">home</a></h5>
</dir>
{% endblock %}
