<head>
    <title>ShareSpace</title>
    <style>
    body {
      position: relative;
      width: 100%;
      height: 100%;
      background: url("{{ url_for('static', filename='background.jpg') }}") center center;
      background-size: cover;
    }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    {% block head_content %}{% endblock %}
</head>
<body>
    <div class="bg-img"></div>
    <div class="content">
        {% block page_content %}{% endblock %}
    </div>
</body>
