{% extends 'base.html' %}

{% block page_content %}
<div class="logo">
    <img src="{{ url_for('static', filename='logo.png') }}"
    width="20%" style="max-width:100%; max-height:100%;"/>
</div>
<div style="text-align: center; font-size: 150%;">
    <h1 class="welcome" style="margin: 0;">Welcome to ShareSpace, <span style="color: #0f3443; font-size: 150%;">{{username}}</span>!</h1>
    <p style="margin: 0; margin-top: 10px;">ShareSpace에 오신 것을 환영합니다</p>
</div>
<div class="buttons">
    <a class="waves-effect waves-light btn teal darken-4" href="/logout">Logout</a>
    <a class="waves-effect waves-light btn teal darken-2" href="#">Search</a>
    <a class="waves-effect waves-light btn teal" href="/upload">Upload</a>
</div>
<div class="centered">
    <section class="cards">
        {% for image in newsfeed %}
            <div class="card"><a href="{{ image[1] }}">
                <!-- post_url -->
                <img src="{{ image[0] }}" alt="Image" style="width:100%">
                <!-- image_url -->
                <div class="container">
                    <h5><b>Lorem ipsum</b></h5> 
                    <p>Lorem ipsum dolor sit amet...</p> 
                </div>
            </a></div>
        {% endfor %}
    </section>
</div>
{% endblock %}
