{% extends 'base.html' %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block page_content %}
<div class="logo">
    <img src="{{ url_for('static', filename='logo.png') }}"
    width="20%" style="max-width:100%; max-height:100%;"/>
</div>
<h1 class="start-sharespace">ShareSpace 시작하기</h1>
<div class="login-form">
    <form class="col s12" action="/login" method="POST" class="row">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="input-field col s12">
                <input id="username" type="text" name="username"
                placeholder="사용자명을 입력하세요" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="input-field col s12">
                <input id="email" type="email" name="email"
                placeholder="이메일을 입력하세요" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <button class="submit-btn btn waves-effect waves-light" type="submit" name="action">로그인</button>
    </form>
</div>
{% endblock %}
